<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJs Dome 1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    {{ message }}
</div>
<div id="app-2">
    <span v-bind:title="message">
        鼠标悬停测试信息
    </span>
</div>
<div id="app-3">
    <span v-if="seen">
        Show table
    </span>
</div>
<div id="app-4">
    <ul>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ul>
</div>
<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="resever">消息反转</button>
</div>
<div id="app-6">
    <p>{{ message }}</p>
    <input type="text" v-model="message">
</div>
<div id="app-7">
    <ol>
        <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
    </ol>
</div>
<div id="faCounter">
    <!-- component 可用无限次使用, 每次运算的逻辑互不影响, 可用理解为类的实例, 每次都单独开辟了一块内存在单独使用 -->
    <counter></counter>
    <counter></counter>
    <counter></counter>
    <counter></counter>
</div>
<div id="faCounter-2">
    <!-- component 可用无限次使用, 每次运算的逻辑互不影响, 可用理解为类的实例, 每次都单独开辟了一块内存在单独使用 -->
    <counter></counter>
    <counter></counter>
    <counter></counter>
    <counter></counter>
</div>
</body>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello, Vue!'
        }
    })
    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: '页面加载于' + new Date().toLocaleString()
        }
    });
    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true,
        }
    });
    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos:[
                {text: '学习JavaScript'},
                {text: '学习 Vue'},
                {text: '整个牛项目'},
            ]
        },
    });
    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'Hello,Vue.js!',
        },
        methods:{
            resever: function () {
                console.log(this.message);
                this.message = this.message.split('').reverse().join('');
            }
        }
    });
    var app6 = new Vue({
        el: '#app-6',
        data: {
            message: 'Hello, Vue.js!',
        },
    });
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>',
    });
    var app7 = new Vue({
        el: '#app-7',
        data: {
            groceryList: [
                {id: 0, text: '蔬菜'},
                {id: 1, text: '奶酪'},
                {id: 2, text: '随便其他人什么东西'}
            ],
        },
    });
    Vue.component('counter', {
        data: function () {
            return {count: 0}
        },
        template: '<button v-on:click="count++">Click计算Click次数:{{ count }}次</button>'
    });
    var faCounter = new Vue({
        el: '#faCounter',
    });
    var faCounter2 = new Vue({
        el: '#faCounter-2'
    });
    console.log(new Date());
    console.log(new Date().toLocaleString());

    // 定义一个新组件
    // 格式：
    // 1： 组件为"counter"
    // 2:  data数据属性: 写函数
    // 3: template 模板: 写组件内容(元素和触发的事件)


    // 可重复使用的组件:
    Vue.component("counter", {
        data: function () {
            return {count: 0}
        },
        template: '<button v-on:clilck="count++">点击计算点击次数 : {{ count }}</button>',
    })
    // 将页面元素和组件绑定在一起, 一个组件使用的次数是无限的
    // var fatherCounter = new Vue({
    //     el: '#fatherCounter',
    // });
    // 页面Html代码
    var data = { a:1 };
    var vm = new Vue({
        data: data,
    });
    console.log(data.a == vm.a);
    data.a = 2;
    console.log(vm.a);
    console.log(data.a);

</script>
</html>